body {
  background-color: #121213;
  color: white;
  display: flex;
  height: 90vmin;
  font-size: 1.5em;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

div > div {
  border: 1px solid #3a3a3c;
  font-size: 1.25em;
  width: 2em;
  height: 2em;
  margin: .10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.row {
  display: flex;
  flex-direction: row;
}

.keys {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrong-letter {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
}

.wrong-place {
  background-color: #b59f3b;
  border-color: #b59f3b;
}

.right-place {
  background-color: #538d4e;
  border-color: #538d4e;
}

section#keys > div > button {
  font-size: 0.75em;
  font-weight: bold;
  width: 2.5em;
  height: 3em;
  background-color: #828384;
  color: white;
  border: 0;
  border-radius: 10%;
  margin: .15em;
}

section#keys > div > button.wrong-letter {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
}

section#keys > div > button.wrong-place {
  background-color: #b59f3b;
  border-color: #b59f3b;
}

section#keys > div > button.right-place {
  background-color: #538d4e;
  border-color: #538d4e;
}

section#keys > div #enter {
  width: 6em;
}

section#keys > div #del {
  width: 5em;
}

section#keys > div #reset {
  width: 5em;
  margin-top: 2em;
  background-color: lightcoral;
}

section#difficulty > div > button {
  background-color: cornflowerblue;
  padding: 0 1em;
  color: white;
  border: 0;
  border-radius: 10%;
  margin: .2em;
  font-size: .6em;
  height: 3em;
}

section > h2 {
  text-align: center;
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
